<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link
    href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="/style.css" />
  <script src="/app.js"></script>

  <title>{{title}} - ConPair</title>
</head>

<body>
  {{> header}}
  {{{body}}}
  {{> footer}}
</body>

</html>